@page "/"
@using BlazorAppSandbox.Components;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MyComponent1 @ref="comp"></MyComponent1>

@code {
    IMyComponent? comp;
}
